# 3.3: Split-apply-combine in pandas

Now that we are (somewhat) comfortable with transformation of data between wide and long, we can get into another very powerful pandas feature known as split-apply-combine.

---

## Dataset

The three files are in your ```../assets/datasets/``` directory. They are:

- ```mach_data.csv``` which contains the wide data.
- ```mach_long.csv``` which contains the already long data.
- ```mach_codebook.csv``` which contains the information about the survey data.

---

## Packages

Loaded same as ever.

In [1]:
# data modules
import numpy as np
import scipy.stats as stats
import pandas as pd

# plotting modules
import matplotlib.pyplot as plt
import seaborn as sns

# make sure charts appear in the notebook:
%matplotlib inline

/Users/jam3jam/anaconda/lib/python2.7/site-packages/matplotlib/__init__.py:872: UserWarning: axes.color_cycle is deprecated and replaced with axes.prop_cycle; please use the latter.
  warnings.warn(self.msg_depr % (key, alt_key))

---

## A: Load the already widened data

I have already widened the data for you here in the interest of time. You can see how I get started on the bonus 2 question below as well.

If you would like to do the melting part yourself for practice, be my guest! The more practice the better. If doing it yourself you would instead load the ```mach_data.csv``` file again.

In [22]:
mach_long = pd.read_csv('../datasets/mach_long.csv')
mach_long

        age  gender  subject_id         variable  value
0        24       1           1               Q1      4
1        33       2           2               Q1      2
2        21       1           3               Q1      3
3        17       1           4               Q1      4
4        22       1           5               Q1      4
5        21       1           6               Q1      5
6        55       1           7               Q1      4
7        40       1           8               Q1      1
8        30       2           9               Q1      3
9        65       1          10               Q1      2
10       21       1          11               Q1      3
11       23       1          12               Q1      5
12       17       1          13               Q1      4
13       24       1          14               Q1      3
14       20       1          15               Q1      4
15       20       1          16               Q1      3
16       27       1          17               Q1      4
17       48       2          18               Q1      2
18       54       1          19               Q1      4
19       17       1          20               Q1      3
20       20       1          21               Q1      2
21       24       1          22               Q1      5
22       20       2          23               Q1      4
23       19       1          24               Q1      5
24       26       2          25               Q1      5
25       32       1          26               Q1      2
26       56       1          27               Q1      2
27       31       1          28               Q1      2
28       29       2          29               Q1      4
29       30       2          30               Q1      2
...     ...     ...         ...              ...    ...
268062   32       1       12157  seconds_elapsed    115
268063   70       1       12158  seconds_elapsed    221
268064   29       2       12159  seconds_elapsed    154
268065   23       1       12160  seconds_elapsed    164
268066   19       1       12161  seconds_elapsed    193
268067   27       1       12162  seconds_elapsed    143
268068   50       2       12163  seconds_elapsed    191
268069   23       1       12164  seconds_elapsed    147
268070   23       1       12165  seconds_elapsed    133
268071   59       1       12166  seconds_elapsed    136
268072   17       1       12167  seconds_elapsed    238
268073   24       1       12168  seconds_elapsed    134
268074   18       1       12169  seconds_elapsed    277
268075   22       2       12170  seconds_elapsed    152
268076   39       1       12171  seconds_elapsed    156
268077   39       1       12172  seconds_elapsed    383
268078   42       1       12173  seconds_elapsed    199
268079   50       2       12174  seconds_elapsed    108
268080   50       2       12175  seconds_elapsed    106
268081   20       1       12176  seconds_elapsed    300
268082   23       1       12177  seconds_elapsed    167
268083   56       2       12178  seconds_elapsed    428
268084   50       2       12179  seconds_elapsed    184
268085   18       1       12180  seconds_elapsed    263
268086   45       1       12181  seconds_elapsed    384
268087   29       1       12182  seconds_elapsed    293
268088   23       1       12183  seconds_elapsed    191
268089   20       1       12184  seconds_elapsed    161
268090   27       1       12185  seconds_elapsed    272
268091   47       2       12186  seconds_elapsed    180

[268092 rows x 5 columns]

In [23]:
print mach_long.variable.unique()

['Q1' 'Q2' 'Q3' 'Q4' 'Q5' 'Q6' 'Q7' 'Q8' 'Q9' 'Q10' 'Q11' 'Q12' 'Q13' 'Q14'
 'Q15' 'Q16' 'Q17' 'Q18' 'Q19' 'Q20' 'score' 'seconds_elapsed']

In [24]:
mach_long = mach_long[mach_long.variable != 'score']

seconds_data = mach_long.ix[mach_long.variable == 'seconds_elapsed', ['subject_id','variable','value']]

seconds_data['seconds_per_q'] = seconds_data.value / 20.

mach_long = mach_long[mach_long.variable != 'seconds_elapsed']

seconds_data.head()

        subject_id         variable  value  seconds_per_q
255906           1  seconds_elapsed    177           8.85
255907           2  seconds_elapsed    107           5.35
255908           3  seconds_elapsed    323          16.15
255909           4  seconds_elapsed    136           6.80
255910           5  seconds_elapsed    142           7.10

### A.2 : Sorting by multiple columns with custom sort for questions

We are going to use ```pd.Categorical``` to custom-sort the questions after subject

see:  http://stackoverflow.com/questions/13838405/custom-sorting-in-pandas-dataframe

Look stuff up online!!

In [25]:
categorical_questions = pd.Categorical(mach_long.variable,
                                       ['Q1','Q2','Q3','Q4',
                                        'Q5','Q6','Q7','Q8',
                                        'Q9','Q10','Q11','Q12',
                                        'Q13','Q14','Q15','Q16',
                                        'Q17','Q18','Q19','Q20'])

mach_long['variable'] = categorical_questions

mach_long.sort_values(['subject_id','variable'], inplace=True)

mach_long.head()

       age  gender  subject_id variable  value
0       24       1           1       Q1      4
12186   24       1           1       Q2      4
24372   24       1           1       Q3      2
36558   24       1           1       Q4      2
48744   24       1           1       Q5      4

### A.3: Adding the time by question by subject_id as a new value

Merge the seconds data and the long data together. This is a preview to future lessons!

In [26]:
mach_secs = mach_long.merge(seconds_data[['subject_id', 'seconds_per_q']], on='subject_id', sort=False)

mach_secs

        age  gender  subject_id variable  value  seconds_per_q
0        24       1           1       Q1      4           8.85
1        24       1           1       Q2      4           8.85
2        24       1           1       Q3      2           8.85
3        24       1           1       Q4      2           8.85
4        24       1           1       Q5      4           8.85
5        24       1           1       Q6      2           8.85
6        24       1           1       Q7      3           8.85
7        24       1           1       Q8      5           8.85
8        24       1           1       Q9      3           8.85
9        24       1           1      Q10      4           8.85
10       24       1           1      Q11      2           8.85
11       24       1           1      Q12      5           8.85
12       24       1           1      Q13      2           8.85
13       24       1           1      Q14      1           8.85
14       24       1           1      Q15      4           8.85
15       24       1           1      Q16      4           8.85
16       24       1           1      Q17      2           8.85
17       24       1           1      Q18      0           8.85
18       24       1           1      Q19      5           8.85
19       24       1           1      Q20      2           8.85
20       33       2           2       Q1      2           5.35
21       33       2           2       Q2      2           5.35
22       33       2           2       Q3      4           5.35
23       33       2           2       Q4      4           5.35
24       33       2           2       Q5      4           5.35
25       33       2           2       Q6      2           5.35
26       33       2           2       Q7      2           5.35
27       33       2           2       Q8      2           5.35
28       33       2           2       Q9      4           5.35
29       33       2           2      Q10      4           5.35
...     ...     ...         ...      ...    ...            ...
243690   27       1       12185      Q11      1          13.60
243691   27       1       12185      Q12      5          13.60
243692   27       1       12185      Q13      1          13.60
243693   27       1       12185      Q14      3          13.60
243694   27       1       12185      Q15      3          13.60
243695   27       1       12185      Q16      5          13.60
243696   27       1       12185      Q17      1          13.60
243697   27       1       12185      Q18      5          13.60
243698   27       1       12185      Q19      5          13.60
243699   27       1       12185      Q20      1          13.60
243700   47       2       12186       Q1      3           9.00
243701   47       2       12186       Q2      2           9.00
243702   47       2       12186       Q3      3           9.00
243703   47       2       12186       Q4      2           9.00
243704   47       2       12186       Q5      4           9.00
243705   47       2       12186       Q6      4           9.00
243706   47       2       12186       Q7      4           9.00
243707   47       2       12186       Q8      2           9.00
243708   47       2       12186       Q9      4           9.00
243709   47       2       12186      Q10      4           9.00
243710   47       2       12186      Q11      2           9.00
243711   47       2       12186      Q12      5           9.00
243712   47       2       12186      Q13      4           9.00
243713   47       2       12186      Q14      2           9.00
243714   47       2       12186      Q15      3           9.00
243715   47       2       12186      Q16      2           9.00
243716   47       2       12186      Q17      2           9.00
243717   47       2       12186      Q18      3           9.00
243718   47       2       12186      Q19      5           9.00
243719   47       2       12186      Q20      2           9.00

[243720 rows x 6 columns]

### A.4 Doing a cumulative sum of the seconds

Do a cumulative sum of the seconds by subject.

This is an example of the split-apply-combine pattern. We will do more as well.

#### A.4.1: Split the data into groups by subject_id

#### A.4.2: Apply the cumulative sum function, iterating through the groups

the ```.transform()``` function on group objects requires a function as the argument.